# MONGO CONNECTION / LOCAL
MONGO_URI="LOCAL-MONGO-URI"

# MONGO CONNECTION / CLOUD
# MONGO_URI="CLOUD-MONGO-URI"

# REGISTRATION PIN
PIN_CODE="IF-NEEDED"

# JWT SECRET
SAUCE="GENERATE-A-UUID"

# ENVIRONMENT
ENVIRONMENT="development"