{
	"bracketSameLine": true,
	"jsxSingleQuote": true,
	"printWidth": 130,
	"proseWrap": "never",
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "all",
	"singleAttributePerLine": true,
	"bracketSpacing": true,
	"quoteProps": "consistent",
	"useTabs": true,
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss"
	],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
